/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container_min {
    width: 940px;
    margin: 0 auto;
}

.section_first {
    min-height: 768px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EBF3FB), color-stop(31.12%, rgba(152, 195, 232, 0)));
    background: -o-linear-gradient(bottom, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

    .fixed_container__first {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

body {
    font-family: sans-serif;
}

.prg {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.04em;
    opacity: 0.6;
}

.main_info__first {
    padding-top: 115px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-image: url(../img/top_back.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

    .heading {
        width: 504px;
        font-family: Roboto;
        font-size: 64px;
        font-weight: 300;
        line-height: 74px;
        letter-spacing: 0.04em;
        color: #1F3F68;
        margin-bottom: 32px;
    }

        .for_heading {
            width: 425px;
        }

    .top__button{
        font-family: Roboto;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background: #5A98D0;
        -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
                box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
        border-radius: 10px;
        padding: 15px 50px;
        display: inline-block;
        margin-top: 71px;
        text-decoration: none;
    }

.heading_two {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.fixed_container__second {
    padding-top: 64px;
}

    .heading_three {
        font-size: 36px;
        text-align: center;
        font-family: Roboto;
        font-weight: 300;
        line-height: 46px;
        letter-spacing: 0.05em;
    }

.heading_four {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.print {
    border: 1px solid #356EAD;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.menu_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.article_block {
    padding-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
    .article_card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 359px;
        padding: 44px 32px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        background: #FFFFFF;
        -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
                box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
    }

    .article_card.second {
        padding: 8px 32px 44px;
    }

        .img_card {
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
            margin-bottom: 51px;
        }

        .card_heading {
            font-family: Roboto;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: #1F3F68;
            margin-bottom: 14px;
        }

        .card__link {
            display: inline-block;
            padding-top: 30px;
            font-family: Roboto;
            font-size: 14px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: #5A98D0;
            text-decoration: none;
        }

.heading_progect {
    margin-top: 64px;
}

.text_progect {
    width: 75%;
    margin: 32px auto 64px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #222222;
    text-align: center;
}

.project__parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 32px;
}

    .project__item {
        position: relative;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        margin-right: 32px;
    }

        .project__img{
            width: 100%;
        }

        .project__text {
            font-family: Roboto;
            font-size: 28px;
            line-height: 46px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            position: absolute;
            top: 32px;
            left: 32px;
        }
        .first_text__project {
            font-family: Roboto;
            line-height: 46px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            position: absolute;
            top: 64px;
            right: 64px;  
            font-size: 32px;
            text-align: right;
        }

.section_end {
    background: #316099;
    margin-top: 112px;
}

    .part_first {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

        .heading_info__end {
            width: 495px;
            text-align: initial;
            font-family: Roboto;
            font-size: 36px;
            line-height: 46px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            padding: 91px 0 32px;
        }

        .prg.section__end {
            font-family: Roboto;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            opacity: 0.6;
            width: 494.77px;
            padding-bottom: 96px;
        }
        
        .lets_talk {
            text-decoration: none;
            font-family: Roboto;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            background: #5A98D0;
            padding: 15px 80px;
            margin: 165px 0 170px;
        }

    .line__footer {
        color:white;
    }

        .list_contacts {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            margin: 64px 0 64px;
            padding-left: 19px;
        }
            .point {
                -ms-flex-preferred-size: 317px;
                    flex-basis: 317px;
                padding-left: 19px;
                font-family: Roboto;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
                margin-right: 32px;
            }
            .point a {
                text-decoration: none;
                color: white;
            }
            .left_column {
                list-style-type: 'A. ';
            }
            .center_column {
                list-style-type: 'T. ';
            }
            .right_column {
                list-style-type: 'E. ';
            }
        
        .prg.rights {
            padding-bottom: 64px;
            font-family: Roboto;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            opacity: 0.4;
        }


.contact__description {
    background-image: url('../img/contact_bg.svg');
    background-size: cover;
    height: 250px;
    margin-top: 44px;
}

    .heading__description {
        padding: 62px 0 16px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 44px;
        line-height: 74px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }

    .prg__description {
        width: 780px;
        margin: 0 auto;
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.04em;
        color:white;
        opacity: 0,6;
    }

.img_data_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 53px;

}

    .column-left {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 301px;
        height: 668px;
        margin: 78px 0 54px;
    }

        .img_form {
            margin-bottom: 16px;
        }

        .heading_contacts {
            font-family: Roboto;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.04em;
            color: #1F3F68;
            margin: 40px 0 24px;
            text-transform: uppercase;
        }

        .prg.contacts {
            font-family: Roboto;
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.04em;
            color: #1F3F68;
            opacity: 0.6;
        }

        .phone_list {
            list-style-type: none;
        }
        .phone_list li::before {
            padding-right: 19px;
            content: url('../img/call-icon.svg');
        }
        .phone_list a {
            font-family: Roboto;
            font-weight: 300;
            font-size: 16px;
            line-height: 36px;
            letter-spacing: 0.04em;
            text-decoration: none;
            color: #1F3F68;
        }

        .link_list {
            list-style-type: none;
        }
        .link_list li:first-child::before {
            content: url('../img/crawl.svg');
            padding-right: 19px;
        }
        .link_list li:last-child::before {
            content: url('../img/email.svg');
            padding-right: 19px;
        }
        .link_list a {
            font-family: Roboto;
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.04em;
            text-decoration: none;
            color: #1F3F68;
        }

    .column-right {
        width: 540px;
        height: 800px;
        background: #FFFFFF;
        -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
                box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
    }

        .form_connection {
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            margin: 56px;
        }

            .heading__form {
                font-family: Roboto;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.04em;
                color: #1F3F68;
                padding-bottom: 48px;
            }

            .form_data {
                font-family: Roboto;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.04em;
                color: #1F3F68;
                opacity: 0.8;
                padding-bottom: 8px;
            }

            .print {
                width: 100%;
                height: 72px;
                margin-bottom: 32px;
                padding-left: 42px;
            }
            .print.message {
                height: 144px;
                padding-top: 21px;
                margin-bottom: 72px;
            }
            .email .message {
                padding-left: 36px;
            }
            ::-webkit-input-placeholder {
                font-family: Roboto;
                font-weight: 300;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.04em;
                color: #1F3F68;
                opacity: 0.2;
            }
            ::-moz-placeholder          {
                font-family: Roboto;
                font-weight: 300;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.04em;
                color: #1F3F68;
                opacity: 0.2;
            }
            :-moz-placeholder           {
                font-family: Roboto;
                font-weight: 300;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.04em;
                color: #1F3F68;
                opacity: 0.2;
            }
            :-ms-input-placeholder      {
                font-family: Roboto;
                font-weight: 300;
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.04em;
                color: #1F3F68;
                opacity: 0.2;
            }
            .press {
                text-decoration: none;
                font-family: Roboto;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.04em;
                color: #FFFFFF;
            }
            .button {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                width: 100%;
                height: 72px;
                background: #5A98D0;
                padding: 23px 183px;
                -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
                        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
                border-radius: 10px;
                text-transform: uppercase;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
            }
.map {
    margin-top: 96px;
    height: 480px;
}

    .column-left .column-right {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        margin-right: 101px;
    }

@media (max-width: 1200px) {
    .container {
        max-width: 950px;
    }
    .article_card {
        margin: 10px;
    }
}

@media (max-width: 1024px) {

    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .main_info__first {
        background-size: 44%;
    }

    .article_block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .article_card {
        margin-bottom: 32px;
    }

    .end__section, .footer {
        margin-right: 124px;
        margin-left: 124px;
    }

        .heading_info__end, .prg.section__end {
            max-width: 336px;
        }
         
        .lets_talk {
            margin: 161px 0 128px;
            height: 30px;
            display: table;
            padding: 5px 31px;
        }

        .list_contacts {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }

        .point {
            -ms-flex-preferred-size: auto;
                flex-basis: auto;
            margin-bottom: 25px;
        }

}

@media (max-width: 667px) {

    .section_first {
        min-height: 376px;
        padding-bottom: 41px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    .container.end__section {
        margin: 0;
    }

    .heading_info__end {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        padding: 18px 0 32px;
    }
    .prg.section__end {
        padding: 0;
    }
    .lets_talk {
        margin: 40px auto 41px;
    }
    
    .part_first {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .footer {
        margin: 0;
    }

    .list_contacts {
        margin: 32px 0 20px;
    }
    .point {
        margin-bottom: 17px;
    }

    .prg.rights {
        padding-bottom: 32px;
    }

    .menu_list {
        padding-top: 24px;
    }

    .main_info__first {
        padding-top: 36px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-image: none;
    }

    .heading, .for_heading {
        width: 100%;
        text-align: center;
    }

    .heading {        
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
    }

    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .heading__card {  
        font-size: 24px;
        line-height: 28px;
    }

    .fixed_container__second.container {
        padding-top: 48px;
    }

    .article_block {
        padding-top: 32px;
    }

    .article_card, .text_progect {
        width: 100%;
    }

    .project__text, .first_text__project {
        font-size: 25px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }
    .project__text {
        left: 16px;
    }

    .project__parent {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 17px;
    }
    
    .project__item {
        margin-right: 0;
        margin-bottom: 17px;
    }

    .heading_three,
    .section__end {
        margin: 0 auto;
    }

    .list_contacts {
        padding: 40px;
    }

}